header{
    background-color: rgb(83, 91, 250);
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.body_fluente{
    background-color:black;
    margin: 0%;
}

.btn_disponibilidade{
    position: absolute;
    height: 150%;
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-image: url(/FoxPath-Project/Site_em_si/IMAGES/fluente_img/disponibilidade.png);
    background-size: cover;
    background-position: center;
    border: none;
}

.btn_participar{
    position: absolute;
    height: 150%;
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-image: url(/FoxPath-Project/Site_em_si/IMAGES/fluente_img/participar.png);
    background-size: cover;
    background-position: center;
    border: none;
}

.modo_jogo{
    display: flex;
    column-gap: 51%;
    align-items: center;
}

.icon{
    float: left;
}

.logout{
    cursor: pointer;
    float: left;
}

.notification{
    float: right;
}

.score{
    float: right;
}

.name{
    float: right;
}

.perfil{
    float: right;
}