header{
    background-color: rgba(0,121,255,1);
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.body_idioma{
    background-color:black;
    margin: 0%;
    justify-content: center;
    align-items: center;
}

.icon{
    float: left;
}

.logout{
    cursor: pointer;
    float: left;
}

.back{
    cursor: pointer;
    float: left;
}

.notification{
    float: right;
}

.score{
    float: right;
}

.name{
    float: right;
}

.perfil{
    float: right;
}

.idioma{
    display: flex;
    align-items: center;
    justify-content: center;
}



.btn_ingles{
    position: absolute;
    height: 100%;
    width: 20%;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-image: url(/FoxPath-Project/Site_em_si/IMAGES/idioma_img/ingles.png);
    background-size: cover;
    background-position: center;
    border: none;
}