
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    gap: 35vh;
}

.foxpath_intro {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0def, rgba(255,255,255,1) 0%,rgba(0,121,255,1)100%)
}

.letters {
    background: linear-gradient(0deg, rgba(0,121,255,1) 20%, rgba(255,255,255,1) 85%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 30vb; /*250px*/
}

.buttons_login {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap: 2vh;
}

.buttons_login button {
    border: none;
    cursor: pointer;
    background-color: #0079FF;
    color: #FFFFFF;
    padding: 2vh 20vw;
    border-radius: 10px;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}.buttons_login button:hover {
    outline: #0079FF solid 10px;
    background-color: #FFFFFF;
    color: #0079FF;
    padding: 3vh 21vw;
    transition: 0.5s;
}
