
.title-cad {
    background: linear-gradient(0deg, rgba(255,255,255,1) 20%, rgba(0,121,255,1) 85%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 5vb; /*250px*/
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
