* {
    box-sizing: border-box;
}

.foxpath_intro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/FoxPath-Project/Site_em_si/IMAGES/main_img/mountain.png);
    background-size: cover;
    background-position: center;
    border: none;
    width: auto;
    border-radius: 10px;
}

.letters {
    background: linear-gradient(0deg, rgba(0,121,255,1) 20%, rgba(255,255,255,1) 85%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 30vb; /*250px*/
}

.logo_foxpath {
    width: 15%;
}
