
* {
    box-sizing: border-box !important;
    background: #000000 !important;
    color: #FFFFFF !important;
}

footer, header, .menu_adm {
    outline: #ff00ff solid !important;
}

button, input, .title_block{
    outline: #00FFFF solid !important;
}
